@import "tailwindcss";

:root {
  --background: #F1EFEC;
  --foreground: #030303;
  --accent1: #123458;
  --accent2: #D4C9BE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent1: var(--accent1);
  --color-accent2: var(--accent2);
  --font-default: var(--font-archivo);
  --font-narrow: var(--font-archivo-narrow);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-default), Helvetica, sans-serif;
  @apply m-8;
}

h1 {
  @apply font-bold;
}

.button {
  @apply mt-10 flex items-center rounded-xl bg-accent1 px-6 py-3 text-lg font-medium cursor-pointer text-background;
}

.card-search-form {
  @apply flex;
}

.card-search-input-container {
  @apply bg-accent1 rounded-md text-background w-min;
}

.card-search-input {
  @apply bg-accent1 rounded-md py-2 px-3 w-64;
}

.card-search-button {
  @apply bg-blue-600 text-white rounded-md p-2 ml-2 cursor-pointer;
}

.card-search-results {
  @apply flex flex-wrap gap-x-36 gap-y-12;
}

.card-search-item {
  @apply flex flex-col w-auto items-center;
}