@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.card-search-input {
  @apply bg-slate-700 rounded-md p-2 ;
}

.card-search-button {
  @apply bg-blue-600 text-white rounded-md p-2 ml-2 cursor-pointer;
}

.card-search-results {
  @apply grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-4;
}

.card-search-item {
  @apply flex flex-col items-center text-center;
}